
<div id="div1">
  <div id="div-text-wrapper">
    <div id="div-text1">
      <h3> MEAN Stack Web App </h3>
      <p> This project is a single-page web application using Angular 5 on the Front-End, Express.js and Node.js on the server and MongoDB as
         the data base management system. The Back-End follows the REST architectural style, and the application
         is backed by a Linux VM on Google Compute Engine.
         It allows user to create an account, log in, generate a program, and save their progress
          for a specific day. </p>
      <p> This web app includes Authentication / Authorization functionality, and allows users to do three things;
          generate a routine and schedule based on stats entered, save their progress on a day to day basis, and finally, if
          enough data is available, the user can visualize their strength gains over time.</p>
      <a mat-raised-button color="accent" target="_blank" href='http://gainz-tracker.com' class="button"> WEBSITE </a>
      <a mat-raised-button color="accent" target="_blank" href='https://github.com/krafftsimon/gainz-tracker' class="button"> GITHUB </a>
    </div>
  </div>

  <div id="div-pic-wrapper">
    <div id="div-pic1">
      <img src="../assets/pic1.jpg" style="width:100%; height:auto;">
    </div>
    <div id="div-pic1">
      <img src="../assets/pic1.2.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
