
<div id="div1">
  <div id="div-text-wrapper">
    <div id="div-text1">
      <h3> Java Bomberman Mini Game </h3>
      <p>Group project for a software engineering class.</p>
      <p>Strong focus on all stages of software development. From communicating with
        the client in order to understand the requirements, to testing.</p>
      <p>Detailed documentation (Software Requirement Specification, and Software Architecture Document) is available on github</p>
      <a md-raised-button color="accent" target="_blank" href='https://github.com/krafftsimon/Bomberman-Minigame' id="github-button"> GITHUB </a>
    </div>
  </div>

  <div id="div-pic-wrapper">
    <div id="div-pic1">
      <img src="../assets/pic2.jpg" style="width:100%; height:auto;">
    </div>
    <div id="div-pic2">
      <img src="../assets/pic3.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
