
#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#timeline::before {
/* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #9B26AF;
  left: 50%;
  margin-left: -2px;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block {
  position: relative;
  margin: 4em 0;
}

.timeline-content {
  color: black;
  margin-left: 0;
  width: 42%;
  position: relative;
  background: white;
  border-radius: 0.25em;
  padding: 1px 20px 10px 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.timeline-content .date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}

.timeline-block:nth-child(even) .timeline-content .date {
  left: auto;
  right: 122%;
  text-align: right;
}

.timeline-block:nth-child(even) .timeline-content {
  float: right;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-img {
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  background-color: #68EFAD;
  z-index: 10;
}

.timeline-img img {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

h2 {
  margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
  .timeline-block .timeline-content {
    float: right;
  }

  #timeline::before {
    left: 5%;
  }

  .timeline-img {
    left: 5%;
  }

  .timeline-content {
    width: 78%;
  }

  .container {
    max-width: 670px;
  }
}
