<div class="container">
  <md-sidenav-container>
    <md-sidenav mode="side" opened="true">
      <span class="name"> <h2 routerLink="/home"> Simon Krafft </h2> </span>
      <md-divider></md-divider>
      <md-nav-list>

        <md-list-item (click)="toggleProjectsList()">
          <md-icon md-list-icon>build </md-icon>
          <span> &nbsp; PROJECTS </span>
          <span class="example-spacer"></span>
          <md-icon *ngIf="!projectsListActive"> expand_more </md-icon>
          <md-icon *ngIf="projectsListActive"> expand_less </md-icon>
        </md-list-item>

        <ng-container *ngIf="projectsListActive">
          <md-list-item *ngFor="let project of projects"
                        class="sub-list"
                        [class.selected]="project === selectedItem"
                        (click)="onSelect(project)"
                        [@listAnimation]="''"
                        [routerLink]="project.link">
            <span><span style="padding-left:30px"> ○ {{project.name}} </span></span>
          </md-list-item>
        </ng-container>

        <md-list-item [class.selected]="'job history' === selectedItem"
                      (click)="onSelect('job history')"
                      routerLink="/job-history">
          <md-icon md-list-icon>work</md-icon>
          <span> &nbsp; JOB HISTORY </span>
          <span class="example-spacer"></span>
        </md-list-item>

        <md-list-item [class.selected]="'skills' === selectedItem"
                      (click)="onSelect('skills')"
                      routerLink="/skills">
          <md-icon md-list-icon>list</md-icon>
          <span> &nbsp; SKILLS </span>
          <span class="example-spacer"></span>
        </md-list-item>

      </md-nav-list>
    </md-sidenav>

    <div class="header">
      <span class="title"> Computer Engineer | McGill University</span>
      <span class="example-spacer"></span>
      <button md-button class="float-right" (click)="openResume()">RESUME</button>
      <button md-button class="float-right">LINKEDIN</button>
      <button md-button class="float-right" (click)="toggleContactBox()">CONTACT ME</button>

    </div>


    <div class="wrapper">       <!-- position relative, need to resize router outlet elements -->
      <router-outlet></router-outlet>  <!-- position absolute -->
    </div>

  </md-sidenav-container>

  <div id="contact-div" *ngIf="contactBoxActive" [@contactBoxAnimation]="''">
    <md-icon class="contact-icon"> phone </md-icon><span> 914 620 7262 </span><br>
    <md-icon class="contact-icon"> email </md-icon><span> krafftsimon@gmail.com </span>
  </div>

</div>
