.wrapper {
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(214,214,214, 1);
}

mat-sidenav {
  width: 250px;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.name {
  text-align: center;
}

.test {
  display: inline-block;
}


fa:hover {
  color: #afafaf;
}

#contact-btn {
  position: relative;
  display: inline-block;
}

#contact-div {
  z-index: 12;
  position: absolute;
  width: 250px;
  top: 100%;
  left: -60%;
  text-align: center;
  background-color: #68EFAD;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 20px 10px;
  line-height: 40px;
  color: black;
}

.contact-icon {
  vertical-align: middle;
}

.header {
  background-color: #691A99;
  padding: 20px;
  top: 0px;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 1);
  position: sticky;
  z-index: 10;
}

h2 {
  margin: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

h2:hover {
  transform: scale(1.1);
}

.title {
  margin: 20px 20px 20px 60px;
  font-size: 36px;
  display: inline-block;
}

.selected {
  border-right: 4px solid #68EFAD;
}

button {
  margin: 30px 0;
}

.float-right {
  float: right;
}

.example-spacer {
  flex: 1 1 auto;
}

.sub-list {
  overflow: hidden;
}

.toggle-sidenav-icon {
  position: absolute;
  top: 40px;
  font-size: 36px;
}

@media only screen and (max-width: 1360px) {
  .title {
    display: block;
  }

  .float-right {
    float: none;
  }

  button {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 1020px) {
  .title {
    font-size: 30px;
  }

  .toggle-sidenav-icon {
    top: 20px;
  }

  .header {
    padding: 5px 20px;
  }

  button {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 898px) {
  .title {
    font-size: 25px;
    margin: 7px 0 7px 50px;
  }

  .toggle-sidenav-icon {
    top: 3px;
  }

  .header {
    padding: 1px 0 5px 10px;
  }
}

@media only screen and (max-width: 560px) {
  #contact-div {
    right: 0;
    left: auto;
  }

  .header {
    padding: 5px 0 5px 10px;
  }

  .title {
    font-size: 18px;
    margin: 10px 0 10px 50px;
  }

  .toggle-sidenav-icon {
    top: 5px;
  }
}

@media only screen and (max-width: 415px) {

  .title {
    margin: 15px 0 10px 50px;
  }
}
