.wrapper {
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.container {
  height: 100vh;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.name {
  text-align: center;
}
md-sidenav-container {
  height: 100%;
  background-color: rgba(214,214,214, 1);
}

md-sidenav {
  width: 230px;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

#contact-div {
  position: fixed;
  top: 100px;
  right: 6px;
  z-index: 12;
  width: 250px;
  text-align: center;
  margin: 0 130px 0 auto;
  background-color: #68EFAD;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 20px 10px;
  line-height: 40px;
  color: black;
}

.contact-icon {
  vertical-align: middle;
}

.header {
  overflow: hidden;
  background-color: #691A99;
  padding: 20px;
  top: 0px;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 1);
  opacity: 1 !important;
  position: sticky;
  z-index: 11;
}

md-toolbar {

}

h2 {
  margin: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

h2:hover {
  transform: scale(1.1);
}

.title {
  margin: 20px;
  font-size: 36px;
  display: inline-block;
}

.selected {
  border-right: 4px solid #68EFAD;
}

button {
  margin: 30px 0;
}

md-list-item {

}

.float-right {
  float: right;

}

.sub-list {
}

.example-spacer {
  flex: 1 1 auto;
}
