
#divtext1 {
  display: inline-block;
  background-color: white;
  max-width: 60%;
  color: black;
  padding: 1px 15px;
  border-radius: 3px;
  margin: 20px 10px;
  text-align: justify;
  vertical-align: top;
}

h3 {
  text-align: center;
}

#divpic1 {
  display: inline-block;
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 3px;
  max-width: 100px;
  margin: 20px 10px;
}

#divpic2 {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 3px;
  max-width: 100px;
  margin: 30px 20px 30px -10px;
}

#divtext2 {
  vertical-align: top;
  display: inline-block;
  background-color: white;
  max-width: 60%;
  color: black;
  padding: 1px 15px;
  border-radius: 3px;
  margin: 20px 10px;
  text-align: justify;
}

#github-button {
    font-weight: bold;
    font-size: 16;
}

#divtextwrapper {
  margin: 20px auto;
  max-width: 650px;
  vertical-align: top;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

#div1 {
  height: 100%;
  vertical-align: middle;
  max-width: 1300px;
  margin: 50px auto;
  text-align: center;
}

#divpicwrapper {
  margin: 20px auto;
  max-width: 650px;
  vertical-align: top;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
