
<div id="div1">

  <div id="divtextwrapper">
    <div id="divtext1">
      <p> Hello, I recently graduated from McGill University with a bachelor's
          degree in computer engineering. I am a French and American citizen currently located in New York,
          and looking for an entry level job in software/computer engineering.
      </p>
    </div>
    <div id="divpic1">
      <img src="../assets/pic9.jpg" style="width:100%; height:auto;">
    </div>
  </div>

  <div id="divpicwrapper">
    <div id="divpic2">
      <img src="../assets/pic10.jpg" style="width:120%; height:auto;">
    </div>

    <div id="divtext2">
      <p> I have worked on several projects that involved many different engineering
         topics. This includes electronic devices such as an AM Receiver and an Op-Amp, but also web applications using
         Google's javascript framework: Angular 2. On this Website you'll find a description of some of the projects
         I have worked on.
      </p>
    </div>
  </div>

</div>
