<section id="timeline" class="container cssanimations">
  <div class="timeline-block">
    <div class="timeline-img">
      <img src="../assets/event-calendar2.png" />
    </div>
    <div class="timeline-content">
      <h2>April 2017</h2>
      <p> Graduated from McGill University with a bachelor's degree in computer engineering. </p>
    </div>
  </div>
  <div class="timeline-block">
    <div class="timeline-img">
      <img src="../assets/event-calendar2.png" />
    </div>
    <div class="timeline-content">
      <h2>September 2012</h2>
      <p> Began studying at McGill University in Canada. </p>
    </div>
  </div>
  <div class="timeline-block">
    <div class="timeline-img">
      <img src="../assets/event-calendar2.png" />
    </div>
    <div class="timeline-content">
      <h2>June 2011</h2>
      <p> Started working at Christofle Silver Inc as an intern. </p>
    </div>
  </div>
</section>
