
<div id="div1">
  <div id="divtextwrapper">
    <div id="divtext1">
      <h3> Web app that allows users to track their gym progress. </h3>
      <p> Website that uses MongoDB, Express.js, Angular 5, and Node.js (MEAN stack).
          It allows user to create an account, log in, generate a program, and save their progress
          for a specific day. </p>
      <p> If enough data, for a certain exercise, is collected. The user can visualize
          its progression over time. Front-end was designed using Angular 4. The back-end uses nodejs and express.
          The database used is mongoDB.</p>
      <p> The Back-End follow the REST architectural style, and the server is hosted
          using a virtual machine rented from Google Compute Engine. </p>
      <a md-raised-button color="accent" target="_blank" href='http://gainz-tracker.com' class="button"> WEBSITE </a>
      <a md-raised-button color="accent" target="_blank" href='https://github.com/krafftsimon/gainz-tracker' class="button"> GITHUB </a>
    </div>
  </div>

  <div id="divpicwrapper">
    <div id="divpic1">
      <img src="../assets/pic1.jpg" style="width:100%; height:auto;">
    </div>
    <div id="divpic1">
      <img src="../assets/pic1.2.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
