
<div id="div1">
  <div id="divtextwrapper">
    <div id="divtext1">
      <h3>Sensor Data Management From Hardware To Cloud.</h3>
      <p>The goal of the project is to understand how data can flow between a number of different devices </p>
      <p>Using the accelerometer on the F4 Discovery microcontroller we read a few seconds of data.
        This data is then sent over to the Nucleo board. Once it is received it is transfered
        to a mobile device using Bluetooth Low Energy (BLE). This device then communicates with
        Amazon Web Service (AWS) and stores the data into an S3 bucket. A lambda function is then used to
        convert the acceleration data into the pitch and roll of the F4 Discovery board. </p>
      <p> The diagram illustrates the entire process. The second picture is the STM32F4 Discovery board. </p>
    </div>
  </div>

  <div id="divpicwrapper">
    <div id="divpic1">
      <img src="../assets/pic11.jpg" style="width:100%; height:auto;">
    </div>
    <div id="divpic2">
      <img src="../assets/pic12.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
