
<div id="div1">

  <div id="divtextwrapper">

    <div id="divtext1">
      <h3> Java Bomberman Mini Game </h3>
      <p>Group project for a software engineering class.</p>
      <p>Strong focus on all stages of software development. From communicating with
        the client in order to understand the requirements, to testing.</p>
      <p>Detailed documentation (Software Requirement Specification, and Software Architecture Document) is available on github</p>
    </div>

    <div id="divtext2">
      <h4>Available at: <a href="www.gainz-tracker.com">www.gainz-tracker.com</a></h4>
      <a md-button href='https://github.com/krafftsimon/Bomberman-Minigame' id="github-button"> GITHUB </a>
    </div>

  </div>

  <div id="divpicwrapper">
    <div id="divpic1">
      <img src="../assets/pic2.jpg" style="width:100%; height:auto;">
    </div>

    <div id="divpic2">
      <img src="../assets/pic3.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
