<div id="div1">
  <h3>Web app to generate a lifting program and track your gym progress.</h3>

  <p>Has an authentication system to allow user to register, log in and save their progress.</p>

  <p>Front-end was designed using Angular 4. The back-end uses nodejs and express.
  The database used is mongoDB.</p>

  <p>The server is hosted using a virtual machine rented from Google Compute Engine. </p>

</div>

<div id="div2">
  <img src="../assets/pic1.jpg" style="width:100%; height:auto;">
</div>

<div id="div3">
  <h4>Available at: <a href="www.gainz-tracker.com">www.gainz-tracker.com</a></h4>
  <h4>Github: <a href="https://github.com/krafftsimon/gainz-tracker">gainz-tracker</a></h4>
</div>
