
<div id="div1">

  <div id="divtextwrapper">

    <div id="divtext1">
      <h3> Humidity Sensing Low Cost Passive Chipless RFID Tag </h3>
      <p> Group design project. The goal was to design a radio-frequency identification device that is easy
          to manufacture (low cost), with no internal power source (passive), that does not require a microchip (chipless),
          and that can detect changes in humidity. </p>
      <p> The first picture shows our experimental results for different
          levels of humidity. Our design process is illustrated by the second picture. The third picture is a high level
          block diagram of the system.</p>
      <button md-button (click)="openPosterPresentation()">POSTER PRESENTATION</button>
    </div>

    <div id="divtext2">
      <img src="../assets/pic8.jpg" style="width:100%; height:auto;">
    </div>



  </div>

  <div id="divpicwrapper">
    <div id="divpic1">
      <img src="../assets/pic6.jpg" style="width:100%; height:auto;">
    </div>

    <div id="divpic2">
      <img src="../assets/pic7.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
