.container {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}

.star {
  color: gold;
}

.empty-star {
  color: black;
}

.skill-box {
  background-color: white;
  border-radius: 3px;
  margin: 30px 30px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  color: black;
  min-height: 60px;
  line-height: 55px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  transition: all .2s ease-in-out;
}

.skill-box:hover {
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
}

.left {
  width: 40%;
}

.right {
  width: 40%;
}

@media only screen and (max-width: 1038px) {
  .container {
    display: inline;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
}
