<div class="div-spacer"></div>
<div id="div-wrapper">
  <img id="pic1" src="../assets/pic9.jpg">
  <p> Hello, I recently graduated from McGill University with a Bachelor's
    degree in Computer Engineering. I am a French and American citizen currently located in New York,
    and looking for an entry level job in software/computer engineering.
  </p>
</div>
<div id="div-wrapper">
  <img id="pic2" src="../assets/pic10.jpg">
  <p> I have worked on various projects involving many different engineering
     topics. This includes electronic devices such as AM Receivers and an Op-Amps, but also web applications using
     Modern JavaScrip Front-end frameworks like React and Angular. On this Website you'll find a description of some of the projects
     I have worked on.
  </p>
</div>
<div id="div-wrapper">
  <img id="pic3" src="../assets/kali.jpg">
  <p> I am also very interested in cybersecurity. Currently, I am working on obtaining
    my Offensive Security Certified Professional (OSCP) certification by taking the
    penetration testing training with Kali linux. The course introduces the latest ethical hacking tools
    and techniques. Virtual penetration testing labs with vulnerable networks are also
    available to practice.
  </p>
</div>
