<div id="div1">
  <div id="div-text-wrapper">
    <div id="div-text1">
      <h3>Online Multiplayer Pong game</h3>
      <p> This application was created using React.js and Redux.js. It is an informational website about
          the popular video game World of Warcraft. It features a simple an elegant interface to allow users to quickly
          find the information they are looking for. </p>
      <a mat-raised-button color="accent" target="_blank" href='http://vote.krafftsimon.com' class="button"> WEBSITE </a>
      <a mat-raised-button color="accent" target="_blank" href='https://github.com/krafftsimon/vote' class="button"> GITHUB </a>
    </div>
    <div id="div-pic3">
      <img src="../assets/pic19.jpg" style="width:100%; height:auto;">
    </div>
  </div>

  <div id="div-pic-wrapper">
    <div id="div-pic1">
      <img src="../assets/pic17.jpg" style="width:100%; height:auto;">
    </div>
    <div id="div-pic2">
      <img src="../assets/pic18.jpg" style="width:100%; height:auto;">
    </div>
  </div>
</div>
